In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv("onlinefoods.csv")
raw.shape

FileNotFoundError: [Errno 2] No such file or directory: 'onlinefoods.csv'

In [3]:
raw.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive

In [4]:
area = raw[['latitude','longitude']]
area

     latitude  longitude
0     12.9766    77.5993
1     12.9770    77.5773
2     12.9551    77.6593
3     12.9473    77.5616
4     12.9850    77.5533
..        ...        ...
383   12.9766    77.5993
384   12.9854    77.7081
385   12.9850    77.5533
386   12.9770    77.5773
387   12.8988    77.5764

[388 rows x 2 columns]

In [5]:
area['coordinates'] = area['latitude'].apply(str)+ "," +area['longitude'].apply(str)
area.head()

C:\Users\benny\AppData\Local\Temp\ipykernel_19812\1418640701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area['coordinates'] = area['latitude'].apply(str)+ "," +area['longitude'].apply(str)

   latitude  longitude      coordinates
0   12.9766    77.5993  12.9766,77.5993
1   12.9770    77.5773   12.977,77.5773
2   12.9551    77.6593  12.9551,77.6593
3   12.9473    77.5616  12.9473,77.5616
4   12.9850    77.5533   12.985,77.5533

In [6]:
# !pip install geopandas

# !pip install geopy

# !pip install geocoder

In [7]:
# Import the necessary libraries

import geopandas as gpd
import geopy
import geocoder
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [8]:
geolocator = Nominatim(user_agent="Nancy Amandi", timeout= 10)
rgeocode = RateLimiter(geolocator.reverse, min_delay_seconds=0.1)
area["location"] = area["coordinates"].apply(rgeocode)

C:\Users\benny\AppData\Local\Temp\ipykernel_19812\1154373598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area["location"] = area["coordinates"].apply(rgeocode)

In [9]:
area.head(10)

,latitude,longitude,coordinates,location
0,12.9766,77.5993,"12.9766,77.5993","(Mahatma Gandhi Circle, Queen's Road, Shanthal..."
1,12.9770,77.5773,"12.977,77.5773","(Jayant Probikes & Fitness, 7, 2nd Cross Road,..."
2,12.9551,77.6593,"12.9551,77.6593","(5th Cross Road, Vinayaka Nagar B Block, Konen..."
3,12.9473,77.5616,"12.9473,77.5616","(Gavipuram, Hanumanth Nagar Ward, South Zone, ..."
4,12.9850,77.5533,"12.985,77.5533","(Apollo Pharmacy, Vatal Nagaraj Road, Shivanah..."
5,12.9299,77.6848,"12.9299,77.6848","(Devarabeesanahalli Flyover, Devarabeesanahall..."
6,12.9770,77.5773,"12.977,77.5773","(Jayant Probikes & Fitness, 7, 2nd Cross Road,..."
7,12.9828,77.6131,"12.9828,77.6131","(Ajantha Road, Kothandram Layout, Halasooru, E..."
8,12.9766,77.5993,"12.9766,77.5993","(Mahatma Gandhi Circle, Queen's Road, Shanthal..."
9,12.9854,77.7081,"12.9854,77.7081","(ING, Graphite India Road, Kaveri Nagara, Garu..."

In [10]:
area['location'][0]

Location(Mahatma Gandhi Circle, Queen's Road, Shanthala Nagar, Shantala Nagar, East Zone, Bengaluru, Bangalore North, Bengaluru Urban District, Karnataka, 560001, India, (12.976594250000002, 77.59922289115156, 0.0))

In [11]:
def get_suburb(row):
    location = row["location"]
    
    try:
        return location.raw["address"]["suburb"]
    except KeyError:
        return " "

def get_city(row):
    location = row["location"]
    try:
        return location.raw["address"]["city"]
    except KeyError:
        return " "

def get_state(row):
    location = row["location"]
    try:
        return location.raw["address"]["state"]
    except KeyError:
        return " "

In [12]:
area["city"] = area.apply(get_suburb, axis=1)
area["suburb"] = area.apply(get_city, axis=1)
area["state"] = area.apply(get_state, axis=1)

area.head()

C:\Users\benny\AppData\Local\Temp\ipykernel_19812\1142215998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area["city"] = area.apply(get_suburb, axis=1)
C:\Users\benny\AppData\Local\Temp\ipykernel_19812\1142215998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area["suburb"] = area.apply(get_city, axis=1)
C:\Users\benny\AppData\Local\Temp\ipykernel_19812\1142215998.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area["state"] = area.apply(get_state, axis=1)

,latitude,longitude,coordinates,location,city,suburb,state
0,12.9766,77.5993,"12.9766,77.5993","(Mahatma Gandhi Circle, Queen's Road, Shanthal...",Shanthala Nagar,Bengaluru,Karnataka
1,12.9770,77.5773,"12.977,77.5773","(Jayant Probikes & Fitness, 7, 2nd Cross Road,...",Gandhinagar,Bengaluru,Karnataka
2,12.9551,77.6593,"12.9551,77.6593","(5th Cross Road, Vinayaka Nagar B Block, Konen...",Konena Agrahara Ward,Bengaluru,Karnataka
3,12.9473,77.5616,"12.9473,77.5616","(Gavipuram, Hanumanth Nagar Ward, South Zone, ...",Hanumanth Nagar Ward,Bengaluru,Karnataka
4,12.9850,77.5533,"12.985,77.5533","(Apollo Pharmacy, Vatal Nagaraj Road, Shivanah...",Shivanagara,Bengaluru,Karnataka

In [13]:
area[['city','suburb','state']]

                     city     suburb      state
0         Shanthala Nagar  Bengaluru  Karnataka
1             Gandhinagar  Bengaluru  Karnataka
2    Konena Agrahara Ward  Bengaluru  Karnataka
3    Hanumanth Nagar Ward  Bengaluru  Karnataka
4             Shivanagara  Bengaluru  Karnataka
..                    ...        ...        ...
383       Shanthala Nagar  Bengaluru  Karnataka
384     Garudachara Palya  Bengaluru  Karnataka
385           Shivanagara  Bengaluru  Karnataka
386           Gandhinagar  Bengaluru  Karnataka
387    Jaraganahalli Ward  Bengaluru  Karnataka

[388 rows x 3 columns]

In [17]:
raw.columns

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude', 'longitude',
       'Pin code', 'Output', 'Feedback'],
      dtype='object')

In [15]:
new_df = pd.concat([raw,area[['city','suburb','state']]],axis=1)
new_df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,city,suburb,state
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Shanthala Nagar,Bengaluru,Karnataka
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Gandhinagar,Bengaluru,Karnataka
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Konena Agrahara Ward,Bengaluru,Karnataka
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Hanumanth Nagar Ward,Bengaluru,Karnataka
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Shivanagara,Bengaluru,Karnataka